<div class="footer">
    <div class="container">
        <div class="info">
            <div>
                <ul class="font-16 mb-3 info-pages">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                <ul class="font-36 info-contact">
                    <li>
                        <img src="assets/img/icon-phone.svg" alt="phone icon">
                        <a href="tel:#"><p>0800-000-000</p></a>
                    </li>
                    <li>
                        <img src="assets/img/icon-mail.svg" alt="mail icon">
                        <a href="mailto:#"><p>glasses@business.com</p></a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="social-icon">
                    <li><a href="#"><img src="assets/img/icon-fb.svg" alt="facebook icon"></a></li>
                    <li><a href="#"><img src="assets/img/icon-ig.svg" alt="instagram icon"></a></li>
                    <li><a href="#"><img src="assets/img/icon-line.svg" alt="line icon"></a></li>
                </ul>
            </div>
        </div>
        <div class="statement font-16">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>