<div class="header">
    <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
    </div>
    <ul>
        <li><a class="font-20" href="#">系列鏡框</a></li>
        <li><a class="font-20" href="#">門市據點</a></li>
        <li><a class="font-20" href="#">部落格</a></li>
        <li><a class="font-20" href="#">常見問題</a></li>
    </ul>
</div>